name: buildx

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  schedule:
    - cron: "45 */6 * * *"

env:
  IMAGE_NAME: ghcr.io/by275/traefik
  IMAGE_TAG: latest
  X_SKIP: "true"
  APP_VER: unknown

jobs:
  buildx:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      -
        name: Check if buildx required
        run: |
          if [ $GITHUB_EVENT_NAME != "schedule" ]; then
            echo "X_SKIP=false" >> $GITHUB_ENV
            exit 0
          fi
          docker run --rm --entrypoint=cat traefik:${{ env.IMAGE_TAG }} \
            /usr/local/bin/traefik > bin1
          docker run --rm --entrypoint=cat ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
            /usr/local/bin/traefik > bin2
          if ! cmp -s bin1 bin2 ; then echo "X_SKIP=false" >> $GITHUB_ENV ; fi
      -
        name: Checkout
        if: env.X_SKIP == 'false'
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        if: env.X_SKIP == 'false'
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Buildx
        if: env.X_SKIP == 'false'
        uses: docker/setup-buildx-action@v3
      -
        name: Initial Buildx
        if: env.X_SKIP == 'false'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          tags: ${{ env.IMAGE_NAME }}:testing
          platforms: linux/amd64,linux/arm64
          build-args: |
            TRAEFIK_VER=${{ env.IMAGE_TAG }}
      -
        name: Load Built Image and Get Variables
        if: env.X_SKIP == 'false'
        run: |
          docker buildx build \
            -t ${{ env.IMAGE_NAME }}:testing \
            --platform=linux/amd64 \
            --build-arg TRAEFIK_VER=${{ env.IMAGE_TAG }} \
            --load \
            .
          CID=$(docker run -d ${{ env.IMAGE_NAME }}:testing)
          VER=$(docker exec $CID traefik version | head -n1 | awk '{print $2}')
          docker rm -f $CID
          echo "APP_VER=$VER" >> $GITHUB_ENV
      -
        name: Login to ghcr.io
        if: env.X_SKIP == 'false'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Buildx and Push
        if: env.X_SKIP == 'false'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.IMAGE_NAME }}:${{ env.APP_VER }}
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            TRAEFIK_VER=${{ env.IMAGE_TAG }}
      -
        name: Notification
        uses: sarisia/actions-status-discord@v1
        if: env.X_SKIP == 'false' && always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          description: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.IMAGE_NAME }}:${{ env.APP_VER }}
